{% extends 'base.html.twig' %}

{% block title %}Bravo Cuistot{% endblock %}

{% block body %}
<h1 class="text-light">Bienvenue sur le site Bravo Cuistot</h1>
<p class="text-light">Cliquez <a href="{{ path('app_register') }}">ici</a> pour vous inscrire. Une fois, inscrit vous serez admis comme visiteur. Et, vous pourrez créer des recettes. Bonne visite.</p>
{% endblock %}
