{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Miseà jour'}) }}

    <a class="btn btn-primary" href="{{ path('app_categorie_index') }}" role="button">Retour vers l'accueil</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
